.no-ordered-view-bg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-status1 {
  color: #1e293b;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 24px;
}

.payment-desc1 {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  color: #64748b;
}

.link-home1 {
  text-decoration: none;
}

.link-home-btn1 {
  background-color: #f7931e;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  border-radius: 6px;
  height: 30px;
  display: flex;
  align-items: center;
}
